<ion-header>
  <ion-toolbar color="primary">
    <ion-title><strong>ClinicAI</strong></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" expand="block" shape="round" size="large" (click)="goToRegistration()">
        Sign Up
      </ion-button>
      <ion-button fill="outline" expand="block" shape="round" size="large" (click)="goToLogin()">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="centered">
      <p style="font-size: 7vw;"><strong>Clinic AI</strong></p>
      <p style="font-size: 2vw;">AI-assisted Clinical Management System</p>
    </div>
    <img src="../../assets/image/clinic.jpg" style="width:65%;">
</ion-content>