<ion-header>
  <ion-toolbar color="primary">
    <ion-title><strong>Encounter Details</strong></ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="danger" fill="solid" (click)="onCancel()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="10" offset-sm="1">
          <ion-list>
            <ion-item fill="outline">
              <ion-label position="stacked">Encounter Title</ion-label>
              <ion-input formControlName="title" type="text" readonly="true"></ion-input>
            </ion-item>
            <ion-item *ngIf="this.role === 'ADMIN'" fill="outline">
              <ion-label position="stacked">Patient</ion-label>
              <ion-input id="patientDetail" formControlName="patientDetail" type="text" readonly="true"></ion-input>
              <!-- <ion-select interface="action-sheet" formControlName="patient" [disabled]="true">
                <ion-select-option *ngFor="let p of patients" value="{{ p.patient_id }}">{{  p.patient_id }}: {{ p.patient_name }}</ion-select-option>
              </ion-select> -->
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="stacked">Clinic</ion-label>
              <ion-select id="clinic" interface="popover" formControlName="clinic">
                <ion-select-option *ngFor="let c of clinics" value="{{ c.clinic_id }}">{{ c.clinic_name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="stacked">Date of Appointment</ion-label>
              <ion-input id="date" formControlName="date" type="date"></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="stacked">Time of Appointment</ion-label>
              <ion-input id="time" formControlName="time" type="time"></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="stacked">Doctor</ion-label>
              <ion-select id="doctor" interface="popover" formControlName="doctor">
                <ion-select-option *ngFor="let d of doctors" value="{{ d.doctor_id }}">Dr. {{ d.doctor_name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="stacked">Comment</ion-label>
              <ion-textarea id="comment" formControlName="comment" rows="3"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            id="goToDiagnosis"
            type="submit"
            color="secondary"
            expand="block"
            [disabled]="form.invalid"
            (click)="goToDiagnosis()">
            <ion-icon name="log-out-outline"></ion-icon>
            Diagnosis
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.role === 'ADMIN'">
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            id="editEncounter"
            type="submit"
            color="secondary"
            expand="block"
            [disabled]="form.invalid"
            (click)="editEncounter()">
            <ion-icon name="create-outline"></ion-icon>
            Edit
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.role === 'ADMIN'">
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            id="deleteEncounter"
            type="submit"
            color="secondary"
            expand="block"
            [disabled]="form.invalid"
            (click)="deleteEncounter()">
            <ion-icon name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
